{% extends 'base.html' %}
{% block title %}Register Page!{% endblock %}
{% block content %}

<h1>Register Page</h1>


<p class="message">Register for an account here!</p>

<form method="POST">

  {{ form.hidden_tag() }}

    <table>

        {% for field in form
          if field.widget.input_type != 'hidden' %}
        
          <tr>
              <td><p class="label">{{field.label}}</p></td>
              <td>{{field}}</td>
              
              {% for error in field.errors %}
              <td class="errmessage">{{ error }}</td>
              {% endfor %}
              
          </tr>
      
        {% endfor %}
      
      </table>


  <button class="button addbutton" type="submit">Create your account!</button>

</form>


{% endblock %}